name: example
description: A new Flutter project.
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  equatable: ^2.0.0
  flutter_bloc: ^7.0.0
  flow_builder:
    path: ../
  flutter_web_plugins:
      sdk: flutter

flutter:
  uses-material-design: true
