name: flow_builder
description: Flutter Flows made easy! A Flutter package which simplifies flows with a flexible, declarative API.
repository: https://github.com/felangel/flow_builder
homepage: https://github.com/felangel/flow_builder
topics: [navigation, routing]

version: 0.1.0

environment:
  sdk: ">=3.2.0 <4.0.0"
  flutter: ">=3.16.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^5.1.0
